//-------------------------------------------------------
//- Modules :: Icons
//-------------------------------------------------------

mixin icon-fonts(name)
  i(class=`icon-fonts icon-fonts--${name}`)&attributes(attributes)

mixin icon-images(name)
  i(class=`icon-images icon-images--${name}`)&attributes(attributes)
