//-------------------------------------------------------
//- Styleguides :: Buttons
//-------------------------------------------------------

//- Buttons :: Type
h2 Buttons Type
-
  var buttonTypes = [
    { type: 'primary' },
    { type: 'secondary' },
    { type: 'olight' },
    { type: 'blight' },
    { type: 'orange' },
    { type: 'light-gray' },
    { 
      type: 'primary',
       size: 'border-radius-6'
    }
  ];
.row
  each item in buttonTypes
    .col-3
      .code-example
        .demo
          +buttons({
            text: 'テキストデモ',
            type: item.type,
            size: item.size
          })
        pre
          code
            | +buttons({
            each val, key in item
              |
              | #{key}: #{val},
            | })
