//-------------------------------------------------------
//- Styleguides :: Colors
//-------------------------------------------------------

-
  var colors = [
    { key: '$white', color: '#fff' },
    { key: '$black', color: '#000' },
    { key: '$primary', color: '#419de0' },
    { key: '$orange', color: '#f09502' },
    { key: '$light-gray', color: '#ccc' },
    { key: '$light-gray2', color: '#eee' },
    { key: '$dark', color: '#333' },
    { key: '$light-blue', color: '#e5f4fd' },
    { key: '$dark-blue', color: '#0077bf' },
    { key: '$red-required', color: '#e60910' }
  ];

.row
  each val in colors
    .col-2
      .code-example
        .demo(style=`background-color: ${val.color}; width: 100%; height: 100px`)
        pre
          code
            | #{val.key}: #{val.color}
