.button {
  @include flex-inline-center;
  border-radius: 25px;
  font-size: 16px;
  font-weight: $font-weight-bold;
  background: $black;
  height: 46px;
  color: $white;
  padding: 10px;
  border: 1px solid $black;

  &:hover {
    color: $white;
  }

  &__icon {
    height: 25px;
  }

  &--primary {
    background-color: $primary;
    border-color: $primary;
  }

  &--full {
    border-radius: 0;
  }
}
