.checkbox-container {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-weight: $font-weight-bold;
  margin-bottom: 0;
  line-height: 18px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    @include size(0, 0);
    z-index: -1;

    &:checked ~ .checkmark {
      background-color: $blue;
      border: 1px solid $blue;
    }
  }

  .checkmark {
    left: 0;
    @include size(18px, 18px);
    border: 1px solid #6c757d;
    @include abs-center-ver;
    border-radius: 4px;

    &:after {
      content: '';
      display: none;
      @include position(absolute, 1px, auto, auto, 5px);
      @include size(6px, 11px);
      border: 1px solid $white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  input:checked ~ .checkmark:after {
    display: block;
  }
}
